<html ng-app='notesApp'>
    <head>
        <title>Notes App</title>
        <style>
            .username.ng-valid{
                background-color:green;
            }
            .username.ng-dirty.ng-invalid-required {
                background-color:red;
            }
            .username.ng-invalid-minlength {
                background-color: lightpink;
            }

            .pwd.ng-dirty.ng-invalid-required {
                background-color:red;
            }
        </style>
    </head>
    <body ng-controller="MainCtrl as ctrl">
        <form ng-submit="ctrl.submit()" name="myForm">
            <input type="text" name="uname" class="username" ng-model="ctrl.user.username" required ng-minlength="4">
           

            <div>
                <input type='password' name='pwd'  class='pwd' ng-model="ctrl.user.password" required >
                <span ng-show="myForm.pwd.$error.required && myForm.pwd.$dirty">This is a required field</span>
            </div>

            <div>
                <ng-form name="profile" class="profile">
                    <input type="text" name="firstName" ng-model="ctrl.user.profile.firstName" placeholder="First Name" required>
                    <input type="text" name="middleName" ng-model="ctrl.user.profile.middleName" placeholder="Middle Name">
                    <input type="text" name="lastName" ng-model="ctrl.user.profile.lastName" placeholder="Last Name" required> 
                </ng-form>
                <span ng-show="profile.$invalid && profile.$dirty">Please fill out the profile informaton</span>
            </div>

            <div>
                <input type="submit" value="Submit"  ng-disabled="myForm.$invalid">
            </div>
        </form>

 

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
        <script type="text/javascript">
            angular.module('notesApp',[])
                .controller('MainCtrl',[function(){
                    self=this


                    self.submit=function() {
                        console.log('User clicked submit with ',self.user);
                    };
                }]);
        </script>
    </body>
</html>