<html>
<head>
    <title> AngularJS Routing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>
</head>
<body ng-app="routingApp">
    <h2>AngularJS Routing Application</h2>
    <ul>
        <li><a href='#/'>Default Route</a></li>
        <li><a href='#/second'>Second Route</a></li>
        <li><a href='#/inlinecontroller'>inlinecontroller example</a> </li>
        <li><a href='#/controller'>controller example</a></li>
        <li><a href='#/aba'>Nonexistient Route</a></li>
        <li><a href='#/redirect'>Redirect to second</a></li>
        <li><a href='#/protected'>Protected</a></li>
    </ul>
    <div ng-view>
        
    </div>



    <script type="text/javascript">
        angular.module('routingApp',['ngRoute'])
            .value('Constant',{MAGIC_NUMBER:42})
            .config(['$routeProvider',function($routeProvider){
                $routeProvider.when('/',{
                    template:'<h5>This is the default route</h5>'
                })
                .when('/second',{
                    template: '<h5>This is the second route</h5>'
                })
                .when('/controller',{
                    controller:'subCtrl as myCtrl',
                    template:'<button ng-click="myCtrl.mylog()"> log in controller</button>'
                })
                .when('/inlinecontroller',{
                   
                    controller:  ['$window','$log','Constant',function($window,$log,Constant){
                        this.mylog=function(){
                            $window.alert('The route has been routed.');
                            $log.log("inline ctrol: Constant is",Constant.MAGIC_NUMBER, new Date());
                        };
                    }],
                    controllerAs:'inlineCtrl',
                    template:'<button ng-click="inlineCtrl.mylog()"> Log of inlineCtrl</button>'

                    //controller:'subCtrl'
                })
                .when('/redirect', {
                    redirectTo:'/second'
                })
                .when('/protected',{
                    template:"<h5>This is a prected page!",
                    resolve: {
                        immediate:['Constant',function(Constant){
                            return Constant.MAGIC_NUMBER*2;
                        }],
                        async:['$http',function($http){
                            return $http.get('/api/getAccess')
                        }]
                    }
                })
                .otherwise({redirectTo:'/'});
            }])
            .controller('subCtrl',['$log','Constant',function(_$log_,Constant){
                //$log.log("Constant is ",new Date(),Constant);
                var $log=_$log_
                this.value=Constant.MAGIC_NUMBER;
                this.mylog=function(){
                    $log.log("button is clicked at", new Date());
                };
            }]);
    </script>
</body>
</html>